IPG/archive/test/*
IPG/archive/nonoverlap-GroupL1Test/test/log
IPG/archive/test/log/cache/*
IPG/archive/src/naiveProj/__pycache__/*
IPG/archive/src/schimdt/__pycache__/*
IPG/archive/src/schimdtProj/__pycache__/*
IPG/archive/src/negT/__pycache__/*
IPG/test/log/*
SLEP_package_4.1/Examples/*
SLEP_package_4.1/Data/*
IPG/src/natOG/__pycache__/*
IPG/src/__pycache__/*
IPG/test/pbs/latentOG/*.pbs
IPG/test/pbs/natOG/*.pbs
